$neuzeit-bold: '../font/neuzeit/NeuzeitOffice-Bold';
$neuzeit-regular: '../font/neuzeit/NeuzeitOffice-Regular';
$tiempos-regular: '../font/tiempos/TiemposText-Regular';
$tiempos-bold: '../font/tiempos/TiemposText-Bold';
$tiempos-regular-italic: '../font/tiempos/TiemposText-RegularItalic';

@font-face {
      font-family: 'NeuzeitBold';
      src: url($neuzeit-bold+'.eot?') format('eot'), url($neuzeit-bold+'.woff') format('woff'), url($neuzeit-bold+'.ttf') format('truetype');
}

@font-face {
      font-family: 'NeuzeitRegular';
      src: url($neuzeit-regular+'.eot?') format('eot'), url($neuzeit-regular+'.woff') format('woff'), url($neuzeit-regular+'.ttf') format('truetype');
}

@font-face {
      font-family: 'TiemposRegular';
      src: url($tiempos-regular+'.eot?') format('eot'), url($tiempos-regular+'.woff') format('woff'), url($tiempos-regular+'.ttf') format('truetype');
}

@font-face {
      font-family: 'TiemposBold';
      src: url($tiempos-bold+'.eot?') format('eot'), url($tiempos-bold+'.woff') format('woff'), url($tiempos-bold+'.ttf') format('truetype');
}

@font-face {
      font-family: 'TiemposRegularItalic';
      src: url($tiempos-regular-italic+'.eot?') format('eot'), url($tiempos-regular-italic+'.woff') format('woff'), url($tiempos-regular-italic+'.ttf') format('truetype');
}

#font-charger {
      left: -10000px;
      top: -10000px;
      position: absolute;
      @include opacity(0);
      #NeuzeitBold {
            font-family: 'NeuzeitBold';
      }
      #NeuzeitRegular {
            font-family: 'NeuzeitRegular';
      }
      #TiemposRegular {
            font-family: 'TiemposRegular';
      }
      #TiemposBold {
            font-family: 'TiemposBold';
      }
      #TiemposRegularItalic {
            font-family: 'TiemposRegularItalic';
      }
}


