img {
    width: 100%;
}

// for firefox image scale smoothing
img {
    -ms-interpolation-mode: bicubic;
}
// for ie
img {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */
    zoom: 1;
}

html {
    width: 100%;
    height: 100%;
    background-color: $white;
}

.clear-float {
    clear: both;
}

#app-container  {
    // font smoothing
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

    // disable text-selection & text cursor
    @include user-select(none);

    // overall text params
    font-family: "TiemposRegular";
    font-size: 14px;
    color: $grayDark;

    width: 100%;
    height: 100%;
    display: block;

    background-color: $bgWhite;

    -webkit-backface-visibility: hidden;

}

#app-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main-background {
    position: absolute;
    top:0;left:0;
    width:100%;height:100%;
    background: url(../image/global/background.jpg) no-repeat center center fixed;
    @include background-size(cover);
}

