
@mixin centerAbsolute($width, $height) {
	@include centerAbsoluteHor($width, $height);
	@include centerAbsoluteVert($width, $height);
}

@mixin centerAbsoluteHor($width, $height) {
	position: absolute;
	width: $width;
	height: $height;
	right: 50%; left: 50%;
	margin-left:  -($width*0.5);
	margin-right: -($width*0.5);
}

@mixin centerAbsoluteVert($width, $height) {
	position: absolute;
	width: $width;
	height: $height;
	top: 50%; bottom: 50%;
	margin-top: -($height*0.5);
	margin-bottom: -($height*0.5);
}

@mixin changeArrowHolderColor($color) {
	.svg-holder .line { background-color:$color; }
    .svg-holder .arrow-normal svg #head{ fill:$color; }
    .svg-holder .arrow-wide svg path{ fill:$color; }
}

@mixin numberedChapitreApplySize($width, $height) {
	.text-container {
		width: $width + 10px;
		height: $height;
	}
	.paragraph-holder {
		width: 100%;
		height: 100%;
	}
}

// grab an svg-png file and translate it to base64
@mixin inline-image($width, $height, $url) {
	width: $width;
    height: $height;
    @include inline-block;

    background-image: inline-image($url);
    background-repeat: no-repeat;
    background-size: 100%;
}

@mixin anim($duration, $delay, $ease, $transform, $originX: 50%, $originY: 50% ) {
    @include transition-delay($delay);
    @include transition-duration($duration);
    @include transition-timing-function($ease);
    @include transform-origin($originX, $originY);
    @include transform($transform);
}

@mixin simpleAnim($duration, $delay, $ease) {
    @include transition-delay($delay);
    @include transition-duration($duration);
    @include transition-timing-function($ease);
}


