a {
    text-decoration: none;
    color: $grayDark;
}
h1 {
    font-family: "NeuzeitBold";
}
.btn {
    cursor: pointer;
}
.relative {
    position: relative;
    width: 100%;
    height: 100%;
}
.centered-holder {
    width: $maxMiddleWidth;
    height: 100%;
    // margin: 0 auto;
    position: relative;
    left: 50%;
    margin-left: -$maxMiddleWidth/2;
}
.full-cover {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    @include breakpoint($full-cover-max-width) {
        position: relative;
        width: $fullCoverMaxWidth;
        left: 50%;
        margin-left: -$fullCoverMaxWidth/2;
    }
}
