<footer id="footer">

    <a target="_blank" href="https://www.facebook.com/panoplylondon"><div class="facebook">{{{facebook}}}</div></a>
    <a target="_blank" href="https://twitter.com/panoplylondon"><div class="twitter">{{{twitter}}}</div></a>
    <a target="_blank" href="https://www.linkedin.com/company/panoply-"><div class="linkedin">{{{linkedin}}}</div></a>
    <!-- <a target="_blank" href="https://vimeo.com/panoply"><div class="instagram">{{{instagram}}}</div></a> -->
    <a target="_blank" href="https://vimeo.com/panoply"><div class="vimeo">{{{vimeo}}}</div></a>
    <a target="_blank" href="https://www.behance.net/panoplylondon"><div class="behance">{{{behance}}}</div></a>
    <a target="_blank" href="http://panoplylondon.tumblr.com/"><div class="tumblr">{{{tumblr}}}</div></a>

</footer>

