<header id="header">
	
	<a href="mailto:hello@panoply.cc">

		<div class="centered-logo">
			
			<div class="relative">
				<div class="logo"><img src="{{logo}}"></div>
				<div class="weare"><img src="{{weare}}"></div>
				<div class="email"><img src="{{email}}"></div>
			</div>

		</div>


	</a> 

</header>

