footer#footer {
	$holderW: 274px;
	$holderH: 46px;
	width: $holderW;
	height: $holderH;
	position: absolute;
	z-index: 2;
	bottom: 16px;
	right: 40px;

	a > div {
		@include inline-block;
		height: 100%;
		position: relative;
		margin-left: 14px;
		svg {
			fill: $gray; 
		}
	}

	.behance {
		$w: 34px;
		width: $w;
		top: -2px;
	}
	.vimeo {
		$w: 26px;
		width: $w;
		top: 1px;
	}
	.twitter {
		$w: 29px;
		width: $w;
	}
	.facebook {
		$w: 28px;
		width: $w;
	}
	.linkedin {
		$w: 27px;
		width: $w;
		left: 2px;
		top: -1px;
	}
	.tumblr {
		$w: 13px;
		width: $w;
		top: 3px;
	}
	.instagram {
		$w: 19px;
		width: $w;
	}

}
