header {
	position: absolute;
	width:100%;height:100%;
	top:0;left:0;
	z-index: 1;

	.centered-logo {
		$w: 348px;
		$h: 192px;
		position: absolute;
		width: $w;
		height: $h;
		left: 50%;
		top: 50%;
		margin-left: -$w/2;
		margin-top: -$h/2;
	}
	.logo {
		padding-bottom: 90px;
		@include backface-visibility(hidden);
	}
	.email{
		width: 60%;
		padding-left: 69px;
		padding-top: 10px;
	}
	.weare {
		position: absolute;
		top: -38px;
		@include backface-visibility(hidden);
	}
}

