html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'NeuzeitBold';
  src: url("../font/neuzeit/NeuzeitOffice-Bold.eot?") format("eot"), url("../font/neuzeit/NeuzeitOffice-Bold.woff") format("woff"), url("../font/neuzeit/NeuzeitOffice-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'NeuzeitRegular';
  src: url("../font/neuzeit/NeuzeitOffice-Regular.eot?") format("eot"), url("../font/neuzeit/NeuzeitOffice-Regular.woff") format("woff"), url("../font/neuzeit/NeuzeitOffice-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'TiemposRegular';
  src: url("../font/tiempos/TiemposText-Regular.eot?") format("eot"), url("../font/tiempos/TiemposText-Regular.woff") format("woff"), url("../font/tiempos/TiemposText-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'TiemposBold';
  src: url("../font/tiempos/TiemposText-Bold.eot?") format("eot"), url("../font/tiempos/TiemposText-Bold.woff") format("woff"), url("../font/tiempos/TiemposText-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'TiemposRegularItalic';
  src: url("../font/tiempos/TiemposText-RegularItalic.eot?") format("eot"), url("../font/tiempos/TiemposText-RegularItalic.woff") format("woff"), url("../font/tiempos/TiemposText-RegularItalic.ttf") format("truetype");
}
#font-charger {
  left: -10000px;
  top: -10000px;
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
#font-charger #NeuzeitBold {
  font-family: 'NeuzeitBold';
}
#font-charger #NeuzeitRegular {
  font-family: 'NeuzeitRegular';
}
#font-charger #TiemposRegular {
  font-family: 'TiemposRegular';
}
#font-charger #TiemposBold {
  font-family: 'TiemposBold';
}
#font-charger #TiemposRegularItalic {
  font-family: 'TiemposRegularItalic';
}

img {
  width: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
}

img {
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
  /* IE8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
  /* IE6 & 7 */
  zoom: 1;
}

html {
  width: 100%;
  height: 100%;
  background-color: white;
}

.clear-float {
  clear: both;
}

#app-container {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: "TiemposRegular";
  font-size: 14px;
  color: #1e1f20;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #f1f1f1;
  -webkit-backface-visibility: hidden;
}

#app-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#main-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../image/global/background.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #1e1f20;
}

h1 {
  font-family: "NeuzeitBold";
}

.btn {
  cursor: pointer;
}

.relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.centered-holder {
  width: 960px;
  height: 100%;
  position: relative;
  left: 50%;
  margin-left: -480px;
}

.full-cover {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
}
@media (min-width: 1920px) {
  .full-cover {
    position: relative;
    width: 1920px;
    left: 50%;
    margin-left: -960px;
  }
}

footer#footer {
  width: 274px;
  height: 46px;
  position: absolute;
  z-index: 2;
  bottom: 16px;
  right: 40px;
}
footer#footer a > div {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 100%;
  position: relative;
  margin-left: 14px;
}
footer#footer a > div svg {
  fill: #a9aaaa;
}
footer#footer .behance {
  width: 34px;
  top: -2px;
}
footer#footer .vimeo {
  width: 26px;
  top: 1px;
}
footer#footer .twitter {
  width: 29px;
}
footer#footer .facebook {
  width: 28px;
}
footer#footer .linkedin {
  width: 27px;
  left: 2px;
  top: -1px;
}
footer#footer .tumblr {
  width: 13px;
  top: 3px;
}
footer#footer .instagram {
  width: 19px;
}

header {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
header .centered-logo {
  position: absolute;
  width: 348px;
  height: 192px;
  left: 50%;
  top: 50%;
  margin-left: -174px;
  margin-top: -96px;
}
header .logo {
  padding-bottom: 90px;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
header .email {
  width: 60%;
  padding-left: 69px;
  padding-top: 10px;
}
header .weare {
  position: absolute;
  top: -38px;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
